@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'helvetica';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueThin.otf') format('opentype');
}

@font-face {
  font-family: 'helvetica-secondary';
  src: url('./assets/fonts/helvetica-neue-5/HelveticaNeueMedium.otf') format('opentype');
}

* {
  font-family: 'helvetica';
  transition: 0.2s ease-in-out;
  list-style: none;
  text-decoration: none;
}

.font-secondary {
  font-family: 'helvetica-secondary';
}

body {
  height: 200vh;
}
